
html{
	height: 100%;
}

body{
	position: relative;
	min-height: 100%;
	padding-bottom: 5rem;
}

button.btn.btn-outline-secondary.search-icon-button {
    background: #27ae60;
    border: 1px solid #27ae60;
    transition: .4s;
}

button.btn.btn-outline-secondary.search-icon-button:hover {
    background: #27ae60;
    border: 1px solid #27ae60;
    color: #fff;
}

.margin-top{
	margin-top: 20px;
}

.feature-img{
	max-height: 200px;
}
.bg-light {
    background-color: #006EB7!important;
    
}

.child-row{
	padding-left: 20px;
}

.hover:hover{
	background-color: #ddd;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
    margin-top: 10px;
    margin-bottom: -9px;
    color: #fff;
}

.pointer{
	cursor: pointer;
}
.hidden{
	display: none;
}

#navigation{
	background-color: #006EB7!important;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 16px;
    background-color: rgba(255,255,255,.5);
}
.carousel-caption h5{
	color: #fff;
	font-weight: bold;
	padding: 15px;
}


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #e74c3c;
    background:#27ae60;
    border-radius: 2px;

}

.button.btn.btn-outline-secondary.search-icon-button{
	background: #8e44ad;
}

.footersection{
	padding: 10px;
	background: #006EB7;
	color: #fff;
}



.footersection p {
    font-size: 14px;
    color: #f8f9fa;
    line-height: 2;
}


